<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8133639c1c.js" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
        emailjs.init('Zh5Xh3x-J1rmUjEuJ')
    </script>
    <link rel="stylesheet" href="/Styles.css">
    
    <title>StudyCoop</title>
</head>

<style>
  * {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 100px;
    /*background: rgb(108, 118, 118);*/
    background: #4d4d5c;
    padding: 0 50px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    font-weight: 200;
    color: whitesmoke;
}

.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    transition: 0.4s;
    
}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;
    display: none;
}

.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #666666;
}

#check {
    display: none;
}

@media(max-width:768px) {
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    .menu {
        position: fixed;
        height: 100vh;
        z-index: 100;
        width: 100%;
        background: rgb(86, 87, 87);
        /*left: 0;*/
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: o.8s;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked~.menu {
        right: 0;
    }
    #personas {
        flex-direction: column;
    }
    .contenido-icono {
        flex-direction: column;
    }
    .contenido-icono div {
        border: none !important;
    }
    .datos-form {
        flex-direction: column;
    }
}


/*BANNER*/

#banner {
    padding: 0 50px;
    background: url(./Images/main.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#banner::before {
    content: '';
    background: rgb(77, 77, 92, 0.5);
    position: absolute;
    width: 100%;
    height: 50vh;
    left: 0;
}

.contenido-banner h3 {
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0;
}

.contenido-banner h3 span {
    font-weight: 600;
}

.contenido-banner {
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boton-empezar {
    text-decoration: none;
    transition: all 0.6s;
    color: #fff;
    border: 1px solid grey;
    padding: 20px 40px;
    align-self: baseline;
}

.boton-empezar:hover {
    background-color: grey;
    color: black;
}

#personas {
    padding: 50px50px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

#personas img {
    border-radius: 100%;
    object-fit: cover;
    width: 280px;
    height: 280px;
}

#personas div {
    padding: 30px 30px;
}

#personas div h4 {
    color: Black;
    font-size: 20px;
    margin: 15px 0px;
}

#personas div p {
    color: grey;
    font-size: 18px;
}

.linea {
    border-top: 1px solid #f5f5f5; /* Puedes ajustar el color y el grosor según tus preferencias */
    margin: 10px 0;
  }

#iconos {
    padding: 0 50px;
    background: #f5f5f5;
}
.titulo-iconos{
    text-align: center;
    font-size: 20px;
}

.contenido-icono {
    padding: 50px 50px0 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contenido-icono div {
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid #4d4d5c;
}

.contenido-icono div i {
    color: grey;
}

.contenido-icono div h4 {
    color: black;
    font-weight: 500;
    margin: 20px 0px;
    font-size: 20px;
}

.contenido-icono div p {
    color: grey;
    font-size: 16px;
}

#icono-mobile {
    border: none;
}

.boton-saber-mas {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border: 3px solid rgb(139, 0, 0);
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
}

.boton-saber-mas:hover {
    /* background: rgb(69, 207, 161); */
    background-color: rgb(139, 0, 0);
    color: whitesmoke;
}

.boton-iconos {
    text-align: center;
    padding: 40px;
}

.boton-iconos .boton-saber-mas {
    color: floralwhite;
}


  


footer {
    background: #4d4d5c;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
}
</style>

<body>
    <header>
        <h2 class="logo">@ StudyCoop</h2>
        <input type="checkbox" id="check">
        <label for="check" class="mostrar-menu">
            &#8801
        </label>
        <nav class="menu">
            <a href="/users/login">Iniciar Sesión</a>
            <a href="/users/register">Regístrate</a>
            <a href="/users/homepage">homepage</a>
            <label for="check" class="esconder-menu">
                &#215
            </label>

        </nav>
    </header>
    <section id="banner">
        <div class="contenido-banner">
            
            <h3><span>Únete </span>a StudyCoop <br> y sube tu promedio</h3>
            <a href="/users/register" class="boton-empezar">Únete</a>
        </div>
    </section>
    <section id="personas">
        <div>
            <img src="/Images/Program.jpg" >
            <h4>Solicitud y Creación de Espacios de Estudio:</h4>
            <p>Descubre una nueva dimensión de aprendizaje con nuestra plataforma web. Aquí, los estudiantes tienen el poder de solicitar 
                y crear espacios de estudio personalizados. Desde grupos de estudio temáticos hasta sesiones creativas, la diversidad es la clave. 
                Únete y contribuye a la construcción de espacios de estudio únicos y adaptados a tus necesidades académicas.</p>
            
        </div>
        <div>
            <img src="/Images/Calculo.jpg" >
            <h4>Reserva con Valores Compartidos:</h4>
            <p>En nuestra comunidad, las reservas van más allá del tiempo y el espacio. Al reservar un espacio de estudio, asigna un valor no monetario, 
                desde un café hasta una comida, como símbolo de aprecio o colaboración. Experimenta una forma única de intercambio de conocimientos y valores. 
                Únete a nosotros mientras redefinimos la manera en que los estudiantes interactúan y aprenden juntos. ¡Bienvenido a una nueva era de aprendizaje colaborativo!
            </p>
            
        </div>
    </section>
    <div class="linea"></div>
    <section id="iconos">
        <div class="titulo-iconos">
            <h4>En nuestra plataforma podrás encontrar diferentes espacios de estudio:</h4>
        </div>
        <div class="contenido-icono">
            <div>
                <i class="fa-solid fa-book-open fa-3x"></i>
                <h4>Matemáticas</h4>
                <p>Desde los principios básicos de las matemáticas hasta los temas mas avanzados en cálculo y las ecuaciones diferenciales.</p>
            </div>
            <div>
                <i class="fa-solid fa-code fa-3x"></i>
                <h4>Programación</h4>
                <p>Podrás aprender desde las bases de como hacer un pseudocódigo hasta las técnicas mas avanzadas de la programación mejorando tu lógica en el proceso</p>
            </div>
            <div id="icono-mobile">
                <i class="fa-solid fa-book-open fa-3x"></i>
                <h4>Inglés</h4>
                <p>Podrás tener esos conversatorios que tanto buscas y así mejorar tus capacidades lingüísticas y potencias tu capacidad de la escucha.</p>
            </div>

        </div>
        <div class="titulo-iconos">
            <p>También podrás encontrar muchos más temas de estudio, desde un tema en general hasta los temas más específicos, todo desde una sola aplicación</p>
        </div>
    </section>
    
    <footer>
        <p>&copy:StudyCoop</p>
    </footer>
</body>

</html>
