<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #new-account-button {
      display: block;
      margin: 0 auto;
    }

    div a {
      display: block;
      text-align: center;
    }

    header {
      height: 100px;
      background: #4d4d5c;
      padding: 0 50px;
      color: aliceblue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      width: 96%;
      top: 0;
      z-index: 1000;
    }

    .logo {
      text-transform: uppercase;
      font-weight: 200;
      color: whitesmoke;
    }

    .menu a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 10px;
      transition: 0.4s;
    }

    .mostrar-menu,
    .esconder-menu {
      font-size: 30px;
      cursor: pointer;
      transition: 0.4s;
      display: none;
    }

    .mostrar-menu {
      order: 1;
    }

    .content {
      margin-top: 150px;
      display: flex;
      justify-content: center;
    }

    .container {
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      width: 400px;
      position: relative;
    }

    h1 {
      font-size: 32px;
      color: #333;
      margin-bottom: 20px;
      text-align: center;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    .input-group {
      position: relative;
      margin-bottom: 20px;
    }

    .input-group input {
      width: 100%;
      padding: 10px;
      padding-left: 40px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .input-icon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .edit-button {
      border-radius: 5px;
      padding: 10px 0;
      margin-top: 20px;
      width: 100%;
      background-color: #4d4d5c;
      color: white;
      font-size: 15px;
      cursor: pointer;
    }

    .message-container {
      text-align: center;
      margin-bottom: 20px;
    }

    .message-container ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .message-container li {
      color: rgb(255, 0, 0);
      margin-bottom: 10px;
    }

    .error {
      color: red;
    }
  </style>
</head>

<body>
  <header>
    <h2 class="logo">@ StudyCoop</h2>
    <nav class="menu">
      <a href="/">Volver</a>
      <label for="check" class="esconder-menu">&#215</label>
    </nav>
  </header>

  <div class="content">
    <div class="container">
      <div class="message-container">
        <ul>
          <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
          <li class="error"><%= error.message %></li>
          <% }) %> <% } %>
        </ul>

        <ul>
          <% if(messages.success_msg) { %>
          <li><%= messages.success_msg %></li>
          <% } %>
        </ul>

        <ul>
          <% if (messages.error) { %>
          <li class="error"><%= messages.error %></li>
          <% } %>
        </ul>
      </div>
      <form action="/users/login" method="POST">
        <h1>Iniciar sesión</h1>
        <div class="input-group email">
          <input style="width: 87%;"  type="email" id="email" name="email" placeholder="Email" required />
          <i class="fa-solid fa-envelope input-icon"></i>
        </div>
        <div class="input-group" style="position: relative;">
          <input style="width: 87%;"  type="password" id="password" name="password" placeholder="Password" required />
          <i class="fa-solid fa-lock input-icon"></i>
        </div>
        <div>
          <input class="edit-button" type="submit" value="Iniciar sesión" />
        </div>
        <br>

        <div>
          <a href="/users/reset-password/">¿Has olvidado tu contraseña?</a>
        </div>

        <br>
        <hr>
        <br>
      </form>
      <div>
        <button style="width: 80%;" id="new-account-button" class="edit-button"
          onclick="navigateTo('register')">Nueva cuenta</button>
      </div>
    </div>
  </div>

  <script>
    function navigateTo(url) {
      window.location.href = url;
    }
  </script>
</body>

</html>
